.custom--header{
    background-color: blue;
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 5px;
}
.person{
    background-color: red;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: 250px;
    width: 100%;
}
.photo{
    background-color: yellow;
    text-align: center;
    justify-content: center;
}
.tex--primari{
    background-color: green;
}
.projects{
    background-color: aquamarine;
    grid-gap: 10px;
    height: 250px;
    width: 100%;
}
.project--uno{
    background-color: gray;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: 250px;
    width: 95%;
    justify-items: center;
}
.tex--project--une{
    background-color: black;
    height: 80%;
    width: 50%;
}
.img--project--one{
    background: greenyellow;
    height: 80%;
    width: 50%;
}
.skills{
    display: flex;
    background-color: black;
    height: 50px;
    width: 97%;
}
.skills--one{
    background-color: red;
    height: 98%;
    width: 10%;
    padding: 1%;
}
.skills--two{
    background-color: red;
    height: 98%;
    width: 10%;
    padding: 1%;
}
.skills--tree{
    background-color: red;
    height: 98%;
    width: 10%;
    padding: 1%;
}
.skills--four{
    background-color: red;
    height: 98%;
    width: 10%;
    padding: 1%;
}
.social--networks{
    background-color: aquamarine;
    display: flex;
    width: 95%;
    height: 30px;

}
.social--networks--une{
    background-color: white;
    height: 98%;
    width: 10%;
    padding: 1%;
}
.social--networks--two{
    background-color: white;
    height: 98%;
    width: 10%;
    padding: 1%;
}
.social--networks--tree{
    background-color: white;
    height: 98%;
    width: 10%;
    padding: 1%;
}
.social--networks-four{
    background-color: white;
    height: 98%;
    width: 10%;
    padding: 1%;
}
.contact--form{
    background-color: gray;
    height: 500px;
    width: 96%;
}